<h2>
  <% if team %>
    <%= link_to team.name, team_url(team) %>
  <% else %>
    <%= forum.title %>
  <% end %>

  <span class="create-topic-link">Start discussion</span>
</h2>

<ul>
  <% topics.each do |t| %>
    <li><%= link_to t.title, forum_topic_url(forum, t) %></li>
  <% end %>
</ul>