<style>
  body { 
    background: url("goalie.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<section class="goalies-container">
  <%= render partial: "goalies", locals: {goalies: @goalies} %>
</section>

<script>
  $(document).ready(function () {
    var goalies = $(".goalies-container");

    goalies.on("click", ".paginator a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        goalies.html(data);
      });
    });

    goalies.on("click", "thead a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        goalies.html(data);
      });
    });
  });
</script>