<style>
  body { 
    background: url(<%= asset_path "goalie.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<section class="goalies-container">
  <%= render partial: "goalies", locals: {goalies: @goalies} %>
</section>

<script>
  $(document).ready(function () {
    Goalie.index();
  });
</script>