<li>
  <span class="comment-text"><%= comment.text %></span>
  <% if comments_hash[comment.id] %>
    <ul>
      <% comments_hash[comment.id].each do |c| %>
        <%= render partial: "comment", locals: {comments_hash: comments_hash, comment: c} %>
      <% end %>
    </ul>
  <% end %>
</li>
