<li>
  <span id="<%= comment.id %>" class="comment-text"><%= comment.text %></span>
  <span class="comment-reply">Reply</span>
  <span class="comment-edit">Edit</span>
  <span class="comment-delete">Delete</span>

  <section class="reply-comment">
    <textarea class="reply-comment-input"></textarea><br>
    <span class="reply-comment-button fake-button">SUBMIT</span>
  </section>

  <section class="edit-comment">
    <textarea class="edit-comment-input"></textarea><br>
    <span class="update-comment-button fake-button">UPDATE</span>
  </section>

  <ul>
    <% if comments_hash[comment.id] %>
      <% comments_hash[comment.id].each do |c| %>
        <%= render partial: "topics/comment", locals: {comments_hash: comments_hash, comment: c} %>
      <% end %>
    <% end %>
  </ul>
</li>
