<li>
  <div id="<%= comment.id %>" class="comment-text"><%= comment.text %></div>
  <span class="comment-reply">Reply</span>
  <% if comment.user == current_user %>
    <span class="comment-edit">Edit</span>
    <span class="comment-delete">Delete</span>
  <% end %>

  <section class="reply-comment">
    <textarea class="reply-comment-input"></textarea><br>
    <span class="reply-comment-button fake-button">Submit</span>
  </section>

  <section class="edit-comment">
    <textarea class="edit-comment-input"><%= comment.text %></textarea><br>
    <span class="update-comment-button fake-button">Update</span>
  </section>

  <ul>
    <% if comments_hash[comment.id] %>
      <% comments_hash[comment.id].each do |c| %>
        <%= render partial: "topics/comment", locals: {comments_hash: comments_hash, comment: c} %>
      <% end %>
    <% end %>
  </ul>
</li>
