<section class="topic-container">
  <section class="topic-header-container">
    <h2><%= @topic.title %></h2>
    <div class="description-container"><%= @topic.description.html_safe %></div>
  </section>
</section>