<ul class="analyses-list">
  <% analyses.each do |a| %>
    <li>
      <%= link_to a.title, analysis_url(a) %>
      <% if a.user %>
        <span class="analysis-author"><%= link_to a.user.username, user_url(a.user) %></span>
      <% else %>
        <span class="analysis-author">Account deleted</span>
      <% end %>
    </li>
  <% end %>
</ul>