<style>
  html { 
  background: url("toews.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
}
</style>

<h1 class="home-header">GameDay</h1>

<section class="container group">
  <section id="teams-home">
    <h2><a href="<%= standings_url %>">STANDINGS</a></h2>
    <a class="teams-sprite" href="<%= standings_url %>"></a>
  </section>

  <section id="players-home">
    <h2><a href="#">PLAYERS</a></h2>
    <a class="players-pic" href="#"><img class="players-pic" src="players.jpg"><span class="players-hidden">PLAYER STATS</span></a>
  </section>

  <section id="games-home">
    <h2><a href="#">GAMES</a></h2>
    <a class="games-pic" href="#"><img class="games-pic" src="games.jpg"><span class="games-hidden">SCHEDULE</span></a>
  </section>
</section>

<script>
  var positions = [
[0, -234], [0, -468], [0, -702], [0, -936], [0, -1170], [0, -1404],
[-416, -234], [-416, -468], [-416, -702], [-416, -936], [-416, -1170], [-416, -1404],
[-832, -234], [-832, -468], [-832, -702], [-832, -936], [-832, -1170], [-832, -1404],
[-1248, -234], [-1248, -468], [-1248, -702], [-1248, -936], [-1248, -1170], [-1248, -1404],
[-1664, -234], [-1664, -468], [-1664, -702], [-1664, -936], [-1664, -1170], [-1664, -1404]]

  $("a.teams-sprite").mouseenter(function () {
    var i = Math.floor(Math.random() * positions.length)
    pos = positions[i]

    $(this).css("background-position", pos[0] + "px " + pos[1] + "px")
  });
  $("a.teams-sprite").mouseleave(function () {
    $(this).css("background-position", "0 0")
  })
</script>
