<style>
  body { 
    background: url("parade.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<section class="games-container">
  <%= render partial: "games", locals: {games: @games} %>
</section>

<script>
  $(document).ready(function () {
    var games = $(".games-container");

    games.on("click", ".paginator a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        games.html(data);
      });
    });

    games.on("click", "thead a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        games.html(data);
      });
    });
    
    games.on("click", ".season-selector a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        games.html(data);
      })
    });
  });
</script>