<style>
  html { 
    background: url("stick_puck.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<h1>GameDay</h1>

<section class="sign-in">
  <h3>SIGN IN</h3>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <input type="email" name="user[email]" placeholder="Email" autofocus><br>
      <input type="password" name="user[password]" placeholder="Password"><br>
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>
      <input class="red-button" type="submit" value="Sign In">
  <% end %>
</section>

<section class="sign-links">
  <%= render "devise/shared/links" %>
</section>
