<style>
  html { 
    background: url(<%= asset_path "hockey_sticks.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<section class="players-container">
  <%= render partial: "players", locals: {players: @players} %>
</section>

<script>
  $(document).ready(function () {
    var players = $(".players-container");

    players.on("click", ".paginator a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        players.html(data);
      });
    });

    players.on("click", "thead a", function (event) {
      event.preventDefault();
      var a = $(this);

      $.get(a.attr("href"), function (data) {
        players.html(data);
      });
    });
  });
</script>