<style>
  html { 
    background: url(<%= asset_path "hockey_sticks.jpg" %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<section class="players-container">
  <%= render partial: "players", locals: {players: @players} %>
</section>

<script>
  $(document).ready(function () {
    Player.index();
  });
</script>