/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*============================================================================*/
/* Reset */

 html, body, p, li, ul, section, header, h1, input, table, thead, tbody, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
}

/*============================================================================*/
/* Clearfix */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/*============================================================================*/
/* Navbar => application.html.erb */

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#101010));
  background: -moz-linear-gradient(top,  #292929,  #101010);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#292929', endColorstr='#101010');
  z-index: 200;
  -moz-box-shadow: 0px 3px 2px #000;
  -webkit-box-shadow: 0px 3px 2px #000;
  box-shadow: 0px 3px 2px #000;
}

header > nav.navbar {
  width: 100%;
  position: relative;
}

header > nav.navbar li {
  float: left;
}

header > nav.navbar li:nth-child(5) {
  float: right;
}

header > nav.navbar li a {
  display: block;
  margin: 0 20px;
  padding: 15px 0;
}

header > nav li:hover > a {
  color: white;
}

.dropdown {
  position: absolute;
  width: 140px;
  display: none;
  -moz-box-shadow: 0px 3px 2px #000;
  -webkit-box-shadow: 0px 3px 2px #000;
  box-shadow: 0px 3px 2px #000;
}

.dropdown > li {
  width: 140px;
  background: -webkit-gradient(linear, left top, left bottom, from(#101010), to(#202020));
  background: -moz-linear-gradient(top,  #101010,  #202020);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#101010', endColorstr='#202020');
}

/*============================================================================*/
/* Sign up/in pages */

h1 {
  font-size: 100px;
  font-weight: 800;
  color: #99000A;
  margin-left: 50px;
}

.sign-up, .sign-in {
  border: 5px solid #99000A;
  color: white;
  background: #242424;
  border-radius: 5px;
  margin: 10% auto 20px auto;
  width: 300px;
  text-align: center;
}

#user_remember_me {
  width: 10px;
  margin-top: 10px;
}

#error_explanation {
  color: #99000A;
  font-size: 15px;
  font-weight: bold;
}

li {
  list-style: none;
}

input[type=submit] {
  border-radius: 3px;
  width: 80px;
  height: 30px;
  margin: 20px auto;
  color: white;
  font-size: 12px;
  border: 1px solid #66000A;
  background: -webkit-gradient(linear, left top, left bottom, from(#99000A), to(#66000A));
  background: -moz-linear-gradient(top,  #99000A,  #66000A);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000A', endColorstr='#66000A');
}

input[type=submit]:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#66000A), to(#88000A));
  background: -moz-linear-gradient(top,  #66000A,  #88000A);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000A', endColorstr='#88000A');
}

input[type=text], input[type=email], input[type=password] {
  text-align: center;
  border: 1px solid #99000A;
  width: 180px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 3px;
  color: #99000A;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  outline: 0;
}

.sign-links {
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: #99000A;
  font-weight: bold;
}

/*============================================================================*/
/* Home page => views/home/index.html.erb */

h1.home-header {
  margin-left: 0;
  font-size: 150px;
  font-weight: 800;
  color: #99000A;
  margin-top: 65px;
  text-align: center;
}

section.container {
  width: 940px;
  margin: auto;
  margin-top: 5%;
}

.container h2 {
  font-size: 35px;
  margin: 15px auto;
  text-shadow: 1px 1px 1px #000;
}

section#teams-home {
  background: url("ice_texture.jpg") no-repeat;
  float: left;
  height: 380px;
  border: 3px solid #99000A;
  color: white;
  border-radius: 4px;
  margin: 0;
  margin-right: 2px;
  width: 462px;
  text-align: center;
}

section#players-home {
  position: relative;
  background: url("ice_texture.jpg") no-repeat;
  background-position: -472px 0;
  float: left;
  height: 185px;
  border: 3px solid #99000A;
  color: white;
  border-radius: 4px;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 2px;
  width: 462px;
  text-align: center;
}

section#games-home {
  position: relative;
  background: url("ice_texture.jpg") no-repeat;
  background-position: -472px -195px;
  float: left;
  height: 185px;
  border: 3px solid #99000A;
  color: white;
  border-radius: 4px;
  margin: 0;
  margin-left: 2px;
  margin-top: 2px;
  width: 462px;
  text-align: center;
}

a.teams-sprite {
  display: inline-block;
  width: 416px;
  height: 234px;
  background: url("teams_sprite.jpg") repeat 0 0;
  margin-top: 20px;
  border: 2px solid #292929;
  border-radius: 2px;
}

img.players-pic, img.games-pic {
  width: 416px;
  height: 88px;
  margin-top: 0px;
  border: 2px solid #292929;
  border-radius: 2px;
}

span.players-hidden {
  -webkit-transition: all 0.2s ease-in-out;
  opacity: 0;
  padding: 21px 64px;
  position: absolute;
  font-size: 40px;
  left: 23px;
  top: 70px;
  z-index: 1000;
  background: #292929;
}

a.players-pic:hover span.players-hidden {
  opacity: 0.9;
}

span.games-hidden {
  -webkit-transition: all 0.2s ease-in-out;
  opacity: 0;
  padding: 21px 103px;
  position: absolute;
  font-size: 40px;
  left: 23px;
  top: 70px;
  z-index: 1000;
  background: #292929;
}

a.games-pic:hover span.games-hidden {
  opacity: 0.9;
}

/*============================================================================*/
/* Standings => views/teams/index.html.erb */

.standings {
  position: relative;
  margin: 8% auto 5% auto;
  width: 1000px;
  background: #292929;
  color: white;
  border: 3px solid #99000A;
  border-radius: 3px;
}

.standings-table {
  width: 950px;
  margin: 5px auto 12px auto;
  text-align: center;
}

.team-pic {
  border-radius: 3px;
  width: 39px;
  height: auto;
  right: 20px;
}

.standings > .standings-table > .standings-header {
  font-weight: bold;
  color: #99000A;
  margin-top: 5px;
}

.standings > .standings-table > .standings-header th {
  padding: 20px 8px 0 8px;
  font-size: 20px;
}

.standings > .standings-table td {
  padding-bottom: 15px;
}

.standings h2 {
  text-align: center;
  margin-bottom: -10px;
  text-shadow: 1px 1px 1px #99000A;
}

.standings a {
  color: white;
}

.standings a:hover {
  color: #99000A;
}

/*============================================================================*/
/* Team show page => views/teams/show.html.erb */

.team-background {
  margin-top: 51px;
  width: 100%;
  -moz-box-shadow: 0px 3px 2px #000;
  -webkit-box-shadow: 0px 3px 2px #000;
  box-shadow: 0px 3px 2px #000;
}

.team-container {
  margin: 3% auto 0 auto;
  text-align: center;
  width: 950px;
}

.header-container {
  background: url("ice_texture.jpg") no-repeat;
  width: 944px;
  border: 3px solid #292929;
  padding: 100px 0 25px 0;
  border-radius: 3px;
}

img.team-players-pic {
  border: 2px solid #292929;
  border-radius: 3px;
  width: 222px;
  position: relative;
  right: 325px;
  bottom: 66px;
}

.favorite-buttons > .unfavorite,
.favorite-buttons.favorited > .favorite {
  display: none;
}

.favorite-buttons > .favorite,
.favorite-buttons.favorited > .unfavorite {
  display: block;
}

section.team-stats-table {
  margin: auto;
  text-align: center;
}

table#team-stats {
  margin: 60px auto 0 auto;
  text-align: center;
}

table#team-stats td {
  font-size: 20px;
  font-weight: 500;
  color: #292929;
}

.roster {
  overflow: scroll;
  height: 400px;
  float: left;
  width: 467px;
  border: 3px solid #292929;
  border-radius: 3px;
  background: url("ice_texture.jpg");
  background-position: 0 -306px;
  margin: 4px 2px 4px 0;
}

#roster-table, #standings-table, #goalies-roster-table, #games-table, 
#player-stats, #players-index {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

#roster-table td, #goalies-roster-table td {
  font-weight: 500;
  padding-top: 3px;
  color: #292929;
}

#standings-table td {
  font-weight: 500;
  padding-top: 15px;
  color: #292929;
}

#games-table td > a {
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 8px;
  margin-right: 40px;
}

.div-standings {
  overflow: scroll;
  width: 467px;
  height: 400px;
  float: right;
  border: 3px solid #292929;
  border-radius: 3px;
  background: url("ice_texture.jpg");
  background-position: -480px -306px;
  margin: 4px 0 4px 2px;
}

.upcoming-games {
  clear: both;
  width: 944px;
  border: 3px solid #292929;
  border-radius: 3px;
  background: url("ice_texture.jpg");
  background-position: 0 -719px;
  margin-bottom: 40px;
}

/*============================================================================*/
/* Player show page => views/players/show.html.erb */

.player-container {
  margin: 3% auto 0 auto;
  text-align: center;
  width: 950px;
}

.player-header-container {
  background: url("ice_texture.jpg") no-repeat;
  width: 944px;
  border: 3px solid #292929;
  padding: 100px 0 25px 0;
  border-radius: 3px;
  margin-bottom: 38px;
}

table#player-stats td, table#player-stats a {
  color: #292929;
  font-weight: 600;
  font-size: 20px;
}

/*============================================================================*/
/* Players index page => views/players/index.html.erb */

.players-container {
  color: white;
  width: 1000px;
  border: 3px solid #99000A;
  border-radius: 3px;
  background: #292929;
  margin: 8% auto 5% auto;
}

#players-index th {
  padding: 7px 5px 3px 5px;
  font-weight: bold;
  font-size: 23px;
  color: #99000A;
  text-shadow: 1px 1px 1px #000;
}

#players-index th .current.asc:after {
  content: " ▴";
  color: white;
  font-size: 15px;
}

#players-index th .current.desc:after {
  content: " ▾";
  color: white;
  font-size: 15px;
}

#players-index th > a {
  color: #99000A;
}

#players-index td {
  color: white;
  padding-bottom: 8px;
}

#players-index a {
  color: white;
}

#players-index td > a:hover {
  color: #99000A;
}

.paginator {
  margin: 8px auto 8px auto;
  text-align: center;
}

/*============================================================================*/
/* Game show page => views/games/show.html.erb */

.game-container {
  width: 900px;
  border: 3px solid #292929;
  border-radius: 3px;
  background: url("ice_texture.jpg") no-repeat;
  margin: 100px auto 0 auto;
  text-align: center;
}

.game-inner-container {
  width: 700px;
  margin: 30px auto;
}

.away-team {
  float: left;
}

.home-team {
  float: right;
}

h1.at-symbol {
  margin: 0;
  padding: 0 82px;
  float: left;
  color: #292929;
  text-shadow: 1px 1px 1px #000;
}

h2.team-names {
  font-size: 35px;
  padding-top: 15px;
  clear: both;
  margin: auto;
  color: #292929;
  text-shadow: 1px 1px 1px #000;
}

.game-container h2 {
  color: #292929;
}

h2.game-result {
  font-size: 35px;
}

h3.venue {
  margin-bottom: 5px;
}

h3.location {
  margin-top: 0;
}

.tickets-container {
  width: 900px;
  border: 3px solid #292929;
  border-radius: 3px;
  background: url("ice_texture.jpg");
  background-position: 0 -454px;
  margin: 4px auto 40px auto;
}

.tickets-container > h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 35px;
  color: #292929;
  text-shadow: 1px 1px 1px #000;
}

.tickets-inner-container {
  width: 600px;
  margin: 0px auto;
}

.tickets-left {
  float: left;
}

.min-price {
  float: right;
}

.tickets-inner-container h2 {
  color: #292929;
}

h2.tickets-link {
  clear: both;
  margin-bottom: 14px;
}

h2.tickets-link > a {
  font-size: 25px;
  color: #292929;
  text-shadow: none;
}

h2.tickets-link > a:hover {
  color: #99000A;
}



